﻿@{
    ViewData["Title"] = "Loading";
}
<style>

    #myProgress {
        width: 100%;
        background-color: #FF0000;
    }

    #myBar {
        width: 1%;
        height: 5px;
        background-color: #00FF00;
    }
</style>
<div>
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
    <script type="text/javascript">var prog = 0;

        function Progress()
        {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE)
                {
                    if (xmlhttp.status == 200)
                    {
                        var width = xmlhttp.responseText;
                        var elem = document.getElementById("myBar");
                        elem.style.width = width + '%';
                    }
                }
            }
            xmlhttp.open("GET", "/Repository/TimeOut", true);
            xmlhttp.send();
        }

        function move() {
            var elem = document.getElementById("myBar");
            var id = setInterval(frame, 1000);
            function frame() {
                if (elem.style.width > 99) {
                    clearInterval(id);
                } else {
                    Progress();
                }
            }
        }
        move();
    </script>
</div>
